body {
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.title {
    margin-top: 40px;
    font-size: 34px;
    color: white;
    text-shadow: 0 0 15px #6a5acd, 0 0 30px #8a2be2;
}

.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.btn {
    width: 280px;
    padding: 15px;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background: #111;
    box-shadow: 0 0 10px #6a5acd;
    transition: 0.2s;
}

.btn:hover {
    box-shadow: 0 0 20px #8a2be2;
    transform: scale(1.03);
}

.neon {
    border: 1px solid #8a2be2;
}

.form-box {
    margin-top: 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #1a1a1a;
    color: white;
}

.status {
    margin-top: 15px;
    font-size: 18px;
    text-shadow: 0 0 10px #6a5acd;
}
