body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: #fff;
}

header {
    text-align: center;
    padding: 25px 10px;
    background: #111;
    border-bottom: 2px solid #333;
}

.hero {
    text-align: center;
    padding: 25px;
    background: #181818;
    border-bottom: 2px solid #222;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 14px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.card:hover {
    background: #262626;
}

.danger {
    border-left: 4px solid #ff3b3b;
}

.form-box {
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    background: #0077ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button.danger {
    background: #ff3b3b;
}

.result {
    margin-top: 15px;
    padding: 10px;
    background: #222;
    border-radius: 10px;
    text-align: center;
}
